header {
    background-color: white;
    box-shadow: var(--shadow-light);
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary);
    text-decoration: none;

    span {
        color: var(--accent);
    }
}

.nav-links {
    display: flex;
    list-style: none;

    li {
        margin-left: 30px;
    }

    a {
        text-decoration: none;
        color: var(--dark);
        font-weight: 500;
        transition: color 0.3s ease;

        &:hover {
            color: var(--primary);
        }
        &.active{
            text-decoration: underline;
            text-underline-offset: 8px;
            border-radius: 99px;
        }
    }
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
}

@media(max-width:640px){
    .hamburger{
        display: inline-block;
    }
    .nav-links{
        display: none;
        position: fixed;
        top: 80px;
        left: 0;
        bottom: 0;
        background: white;
        z-index: 999;
        right: 0;
    }
    .show-navbar{
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
    }
}